    .icon {
        width: 2em;
        height: 2em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }


    .icon-right{
        transform: rotate(180deg)
    }


    .showContainer{
        width: 356px;
        height: 200px;
        border: 10px solid maroon;
        background-color: #AAA;
        margin: 50px auto;
        position: relative;
        overflow: hidden;
    }
    .container {
        width: 100%;
        display: flex;
        height: 100%;
        /* background-position:  */
    }
    .container img{
        display: block;
        /* float: left; */
        min-width: 100%;
        /* height: 100% */
    }
    .left-triangle{
        position: absolute;
        top: 80px;
        cursor: pointer;
        left: 0;
    }
    .right-triangle {
        position: absolute;
        top: 80px;
        cursor: pointer;
        right: 0;
    }
    .left-triangle ,.right-triangle{
        display: none
    }
    .showContainer:hover .left-triangle,.showContainer:hover .right-triangle{
        display: block
    }

    .dots{
        position: absolute;
        bottom: 10px;
        left: 0;
        text-align: center;
        width: 100%
    }

    .dots .dot{
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ccc;
        margin-right: 10px;
        cursor: pointer;
    }




    




    